html,

* {

}

body {
  height: 100%;
}

.content {
  width: 40%;
  margin: auto;
  padding-top: 40px;
  font-family: vazir;
}

header {
  margin-left: auto;
  margin-right: auto;
  background: #dee0e0;
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

// we'll add this class using javascript
.nav-up {
  top: -40px; // same as header height. use variables in LESS/SASS
}

.header-text {
    width: 40%;
    margin: auto;
}

.logo {
  width: 32px;
  margin-top: 2.5px;
}

pre {
    direction: ltr;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inconsolata;
}

.post-img {
    display: block;
    margin: 0 auto;
}

@font-face {
  font-family: vazir;
  src: "https://lib.arvancloud.com/fa/vazir";
}

@font-face {
  font-family: inconsolata;
  src: "https://fonts.googleapis.com/css?family=Inconsolata";
}